.wp-block-spacer{
	clear: both;
}

.block-outside{
  margin-left: -15px;
  margin-right: -15px;
}
.block{
	z-index: 2;
	@include margin-side-block;
	
	&.block-narrow{
		margin-left: 0;
	}
	p, ul, ol{
		@include font-size(14);
		line-height: 180%;
	}

	li{
		margin-bottom: 5px;
	}

	.block-inside{
		padding: 20px;
	}
}

.jump-to{
	padding: 30px 1px 80px 0;
	clear: both;
	@include to-right-edge();

	@include media-breakpoint-up(lg) {
		margin-right: 16%;
	}
	@include media-breakpoint-up(xxl) {
		margin-right: 25.6%;
	}

	&.alignwide{
		@include to-container-width();

		p{
			@include media-breakpoint-up(md) {
				margin-left: 25.6%;
			}
		}
	}	


	p	{
		@include font-size(14);
		color: $grey;
		border: none;
		margin-bottom:0;

		.label{
			@include font-size(12);
			text-transform: uppercase;
			font-weight: 700;
			margin-right: 10px;

			.icon{
				@include font-size(10);
			}
		}

		a{
			color: $grey;
			box-shadow: none;

			&:hover{
				color:$ink;
			}
		}

		a.active{
			color: $ink;
			font-weight: 400;
		}

	}

}

.text-inset{
	.block-inside.text-inset-inside{
		background: $freshearth;
		padding: 30px 30px 10px;

		li:before{
			color: $earth;
		}

		a{
			@include underline($earth, $earth);
		}
	}
}

.gallery-embed{
  cursor: pointer;

	.gallery-embed-inside{
		transition: all .4s cubic-bezier(.15,.53,.35,1);
		background: $freshsun;
		
		.gallery-embed-content{
			padding: 20px 0 20px 20px;
			margin-right: -15px;
			position: relative;
			height: 100%;

			h5{
				margin-bottom: 50px;
			}

			p.gallery-embed-link{
				@include font-size(16);
				padding-bottom: 0;
				position: absolute;
				bottom: 20px;
				margin-bottom: 0;

				.icon{
					@include font-size(24);
					position: relative;
					top: 4px;
					color: $sun;
					transition: color .4s cubic-bezier(.15,.53,.35,1);				
				}
				a{
					font-style: italic;
				}
			}
		}
		.gallery-embed-img{
			text-align: right;
			overflow: hidden;

			img{
				transition: transform .4s cubic-bezier(.15,.53,.35,1);				
			}
		}
	}

	.gallery-items{
		display: none;
	}

	&:hover{
		.gallery-embed-inside .gallery-embed-content p .icon{
			color: darken($sun, 10%);
		}
		a{
			box-shadow: inset 0 -0.40em $sun;
		}
		img{
			transform: scale(1.04);
		}
	}

	&.alignleft.block-narrow{
		margin-right: 0;
	}
}

.video-embed{
	position: relative;
	z-index: 2;
 	transition: all .4s cubic-bezier(.15,.53,.35,1);
 	margin-top: 0;
 	margin-bottom: 0;
	@include margin-side-block;

	&.open{
		width: 100%;
		max-width: 100%;
		margin-right: 0;

		iframe, img{
			width: 100%;
		}
	}
}

.play-middle{
	position: relative;
	cursor: pointer;

	.icon{
		position: absolute;
		top: 50%;
		left: 50%;
		margin-left: -17px;
		margin-top: -17px;
		color: $cloud;
		@include font-size(35);
	 	transition: all .4s cubic-bezier(.15,.53,.35,1);
	 	border-radius: 30px;
	}
}

.video-wrapper{
	.play{
		position: relative;
		cursor: pointer;

		.icon{
			position: absolute;
			bottom: 20px;
			left: 20px;
			color: $cloud;
			@include font-size(35);
		 	transition: all .4s cubic-bezier(.15,.53,.35,1);
		 	border-radius: 30px;
		}
		
		&:hover{
			.icon{
				color: $ink;
				@include font-size(45);
			}
			.icon-bg:after{
				background: $cloud;
			}
		}
	}
	&.playing{
		.play{
			display: none;
		}
		.iframe-container, .icon-close{
			display: block;
		}
	}		
}

.entry-content .remove-margin-top-bottom{
	margin-top:0;
	margin-bottom: 0;
	padding-top: 0;
	padding-bottom: 0;
}

.iframe-target{
	.iframe-container, .icon-close{
		display: none;
	}
}
.open .iframe-target, .iframe-target.open{
	.iframe-container{
		display: block;
	}	
	.icon-close{
		display: block;
		float: right;
		margin-bottom: 20px;
		cursor: pointer;
	}
}


.block-audio{
	.block-inside{
		background: $freshsun;
	}
}
.audio-player {
	margin-bottom: 15px;
  
  .audio-content{
  	position: relative;
  	z-index: 2;
  }

	.buttons{
		margin-top: -10px;

	  .play-btn {
	  	cursor: pointer;
	  	display: inline-block;
	  	line-height: 0;
	  	color: $sun;
			transition: color .4s cubic-bezier(.15,.53,.35,1);

	  	.icon-pauze{
	  		display: none;
	  	}
	    &:hover{
	    	color: $ink;
	    }
	  }
	}
  
  .seek-obj-container{
		position: relative;
		opacity: 0;
		margin-top: -50px;
		display: block;
		transition: all .4s cubic-bezier(.15,.53,.35,1);
		z-index: 1;

	  progress {
	    width: 100%;
	    cursor: pointer;
	  }

	  progress[value] {
	    -webkit-appearance: none;
	    appearance: none;
	    background-color: white;
	    color: $sun;
	    height: 10px;
	  }
	  
	  progress[value]::-webkit-progress-bar {
	    background-color: white;
	    border-radius: 2px;
	    color: $sun;
	  }
	  
	  progress::-webkit-progress-value {
	    background-color: $sun;
	  }
	  .end-time{
	  	float: right;
	  }
 	}

  &.playing {	
	  .play-btn {
	    .icon-pauze{
	    	display: inline-block;
	    }
	    .icon-play-small{
	    	display: none;
	    }
	  }
	}
	&.playing{
	  .seek-obj-container{
			margin-top: 0;
			opacity: 1;
		}		
	}
}

.panel{
	padding-bottom: 0;

	&.panel-open{
		padding-bottom: 30px;
	}
	&.panel-open.no-title{
		padding-top: 40px;
	}

	> h5{
		margin-bottom: 20px;

		.icon{
			display: none;
		}
	}
}

.panel.alignwide{
	@include to-container-width();
	background: #fff;
}

.panel-collapsable{
	> h5{
		@include underline($sun, $sun);
		display: inline-block;
		line-height: 100%;
		cursor: pointer;
		position: relative;
		margin-left: 21px;
		
		@include media-breakpoint-up(md) {
			margin-left: 0;
		}

		.icon{
			position: absolute;
			display: block;
			left: -33px;
			padding: 10px;
			top: -8px;
			@include font-size(14);
		}

		&:hover{
			.icon{
				left: -30px;
			}
		}
	}
	.row-collapsable{
		display: none;
	}

	&.panel-open{
		h5 .icon{
			transform: rotate(90deg);
			left: -30px;
		}
		.row-collapsable{
			display: block;
		}
	}
}

.panel-books, .page-template-default .entry-content .panel-books{
	.link-zoom{
		margin-bottom: 15px;

		.icon-bg:after{
			background: $cloud;
		}
		&:hover{
			.icon-bg:after{
				background: $ink;
			}
		}
	}
	p{
		@include font-size(14);
		padding-bottom: .6em;
	}

	.single-book{
		a.link-zoom{
			float: left;
			max-width: 45%;
			margin-right: 5%;
		}
	}
}

.link-zoom{
	display: block;
	position: relative;
	overflow: hidden;

	img{
		transition: all .4s cubic-bezier(.15,.53,.35,1);
	}

	.icon{
		position: absolute;
		bottom: 10px;
		left: 10px;
		z-index: 2;

		&:after{
			background: $cloud;
		}
	}
	&:hover{
		img{
			transform: scale(1.04);			
		}
		.icon{
			color: $cloud;
			@include font-size(25);

		}
		.icon:after{
				background: $ink;
			}
	}
}

.link-zoom-cursor{
	cursor: url(assets/images/zoom.svg) 14 14, auto;
}

.panel-videos .iframe-target.open{
	margin-bottom: 30px;
}

.index-item.index-page{
	padding-top: 0;
	padding-bottom: 0;

	h5 a{
		@include underline($cloud, $sun);
	}
	img{
		margin-bottom: 20px;
	}
}

.panel.panel-open.panel-pages{
	padding-bottom: 0;
}

.panel-quotes{
	.index-quote{
		padding-top: 0;

		blockquote{
			padding-bottom: 10px;

			p{
				padding-left: 0;	
			}
			cite{
				padding-left: 0;
			}
		}
	}
}

.media-coverage{
	background: $cloud;

	h4{
		margin-bottom: 10px;
		border: none;
	}
	ul{
		padding-bottom: 0;
		li{
			margin-bottom: 1.2em;
			@include font-size(16);
			line-height: 180%;

			a{
				@include underline($cloud, $sun);

				img{
					margin-bottom: 10px;
				}

				.icon-external-link{
					color: $grey;
					margin-left: 5px;
				}
				.link-text{
					transition: all .4s cubic-bezier(.15,.53,.35,1);
				}
				.play-middle{
					display: block;
				}
			}
			i{
				color: $grey;
				@include font-size(14);
				display: inline-block;
			}
			b{
				font-weight: 700;
			}
		}		
	}
	ul.highlights{
		li.has-image{
			padding-left: 66px;
			display: inline-block;
			a{
				img{
					float: left;
					max-width: 50px;
					margin: 5px 0 0 -66px;
				}
			}
		}
	}
}


.menu-block-container{
	margin: 40px 0;
	min-height: 55px;

	.menu-block{
		text-align: center;
		margin: 0;
		padding: 0;


		ul{
			margin-bottom: 0;
		}
		#block-menu{

			li{
				display: inline-block;
				padding: 0 5px;
				margin-left: 0;
				@include media-breakpoint-up(md) {
					padding: 0 10px;
				}

				a{
					color: $grey;
					@include underline($cloud, $sun);
				}
			}

			.sub-menu{
				padding: 10px 0 0;
				border-top: 1px solid $freshink;
				margin: 0;
				@include media-breakpoint-up(lg) {
					padding-left: 60px;
					padding-right: 60px;
				}
			}
			> li {
				border-bottom: 1px solid transparent;
				padding-bottom: 10px;
				> a{
					display: none;
					color: $ink;
					font-weight: bold;
				}
			}
		}
		&.fix-menu-top{
			transition: background .4s cubic-bezier(.15,.53,.35,1);
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			background: $cloud;
			z-index: 99;
			border-bottom: 1px solid $freshink;

			#block-menu > li a{
				color: $darkink;
			}
		}
	}
}

.wp-block-cover{
	padding-bottom: 0;

	.wp-block-cover__inner-container{
		background: $freshsun;
		color: $ink;
		padding: 30px;
		max-width: 550px;
		margin: 700px 15px 15px 15px;
		width: 100%;

		@include media-breakpoint-up(lg) {
			margin: 140px -40% 140px 0;
		}

		@include media-breakpoint-up(xl) {
			margin-right: -50vw;
		}

		h2{
			text-align: left;	
			padding: 0;
		}
	}
}

@include media-breakpoint-down(xs) {
	.entry-content .wp-block-cover.alignfull{
		padding-bottom: 0;
	}
}
@media (max-width:600px){
	.wp-block-media-text.is-stacked-on-mobile.has-media-on-the-right.tnh-landing-books{
		grid-template-areas: "media-text-media" "media-text-content";

		figure{
			max-width: 300px;
			display: block;
			margin: 0 auto;
		}
	}
}


.small.post-list{
	li{
		.entry-meta{
			@include font-size(13);
			padding-bottom: 0;
		}
	}
}

.post-list{
	article.index-post:last-child{
		padding-bottom: 20px;
	}
}

hr.wp-block-separator{
	margin: 80px 0;
}



.wp-block-columns.align-items-center{
	align-items: center;
}

.wp-block-columns.has-md-full-width{
	@include media-breakpoint-down(lg) {
		.wp-block-column{
			flex-basis: 100%!important;
		}
	}
}

.wp-block-media-text, .page-template-page_full-width .entry-content .alignwide.wp-block-media-text{
	.wp-block-media-text__content{
		padding: 20px 0 0;

		@media (min-width: 600px){
			padding: 0 8%;
		}
		.wp-block-group{
			columns: 2 250px;
			column-gap: 2em;
		}
	}

	&.is-image-fill .wp-block-media-text__content figure{
		min-height: unset;
		height: auto;
	}
	&.has-fresh-tree-background-color, &.has-fresh-sun-background-color, &.has-fresh-earth-background-color{
		margin-left: -15px;
		margin-right: -15px;
		padding: 15px;
		max-width: none;

		@include media-breakpoint-up(sm) {
			margin: 70px auto;
		}
		@include media-breakpoint-up(md) {
			padding: 30px;
		}
		@include media-breakpoint-up(xxl) {
			padding: 50px;
		}
	}
}

.page-template-page_full-width .wp-block-media-text{

	@include media-breakpoint-up(sm) {
		&.has-fresh-tree-background-color{
			margin-left: -30px;
		}
	}
}

.retreats-block, .page-template-page_full-width .entry-content .retreats-block.has-fresh-earth-background-color{

	@include media-breakpoint-up(lg) {
		max-width: 1112px;
		margin-top: 180px;
		margin-bottom: 100px;

		.wp-block-media-text__media{
			position: relative;
			height: 100%;
			margin-top: -50%;
			img{
				position: absolute;
				right: 0;
				max-width: 430px;
			}
		}
	}
	@media (min-width:600px){
		.wp-block-media-text__media{
			margin-right: 15px;
		}
		.wp-block-media-text__content{
			padding-left: 15px;
		}
	}
}

.page-template-page_full-width .wp-block-group{
	&.has-background{
		padding: 50px 0 40px;
		@include media-breakpoint-up(md) {
			padding: 70px 0 60px;
		}
		@include media-breakpoint-up(lg) {
			padding: 100px 0 80px;
		}
	}
	.wp-block-columns{
		margin-bottom: 0;
	}
}

.page-template-page_full-width, .page-template-default, .post {
	.wp-block-group.alignfull{
		margin-top: 40px;
		margin-bottom: 40px;
		@include media-breakpoint-up(md) {
			margin-top: 80px;
			margin-bottom: 80px;
		}

		.wp-block-group__inner-container{
			@include make-container();
      @include make-container-max-widths();
		}
	}
}

.page-template-default, .post {
	.wp-block-group.alignfull{
		left: 50%;
		@include media-breakpoint-up(md){
			left: 32.6%;
		}
		margin-left: -50vw;
		margin-right: -50vw;
		max-width: 100vw;
		position: relative;
		right: calc(50% + 15px);
		width: 100vw;
		border-right: 0;
	}
}

.home-what-who-block, .page-template-page_full-width .entry-content .wp-block-group.home-what-who-block{
	padding-bottom: 20px;
	padding-top: 50px;

	@include media-breakpoint-down(sm) {
		.has-text-align-right{
			text-align: left;
		}
		.wp-block-column:last-child{
			flex-basis: 100%;
		}
	}

	@include media-breakpoint-up(xl) {
		margin-top: 200px;
		margin-bottom: 200px;

		img{
			margin-top: -37%;
			margin-bottom: -50%;
		}
	}
}

.page-template-default, .post{
	.wp-block-group{
		&.has-background{
			padding: 20px 20px 0 20px;
			display: flex;
		}
	}
}

.latest-youtube{
	margin-top: 10px;
}


.has-fresh-sun-background-color{
	background-color: $freshsun;
}
.has-fresh-earth-background-color{
	background-color: $freshearth;
}
.has-grey-color{
	color: $grey;
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Slick Slider
.slider{
	.slider-image{
		background-position: center;
		background-size: cover;
		padding-bottom: 60%;
		display: none;
	}
	.slider-image:first-child{
		display: block;
	}
	&.square{
		.slider-image{
			padding-bottom: 100%;
		}
	}
	&.portrait{
		.slider-image{
			padding-bottom: 180%;
		}
	}
}
.entry-content .slider{
	margin-bottom: 60px;
	padding-bottom: 0;
}

ul.slick-dots, .page-template-default .entry-content ul.slick-dots{
	padding: 0;
	text-align: left;
	margin-left: -8px;
	border: none;

	li{
		margin: 0 2px;

		&:before{
			display: none;
		}
		button:before{
			font-size: 20px; 
		}
	}
}

.slick-prev, .slick-next{
	bottom: -35px;
	top: unset;
	z-index: 2;

	&:before{
		color: $ink;
		font-size: 15px;
	}
}

.slick-prev{
	right: 40px;
	left: unset;
}
.slick-next{
	right: 0px;
}


////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Verse Block

pre.wp-block-verse, .wp-block-verse pre{
	background: $freshsun;
	font-family: 'Merriweather';
	@include font-size(16);
	line-height: 190%;
}
