@import "blocks/online-events";
@import "blocks/posts";
@import "blocks/text-separator";
@import "blocks/library-video-embed";
@import "blocks/gallery";


.block.alignfull{
	> .block-inside{
		@include make-container();
    @include make-container-max-widths();		
	}
}

.max-width-700{
	max-width: 700px;
}
.center-me{
	margin-left: auto;
	margin-right: auto;
}

.has-background{
	padding: 15px;
	@include media-breakpoint-up(sm) {
		padding: 30px;
	}
}

.wp-block-spacer{
	clear: both;
}

.block{
	z-index: 2;
	@include margin-side-block;
	
	&.block-narrow{
		margin-left: 0;
	}
	p, ul, ol{
		@include font-size(16);
		@include media-breakpoint-up(md) {
			@include font-size(15);
		}
		line-height: 180%;
	}

	li{
		margin-bottom: 5px;
	}

	.block-inside{
		padding: 20px;
	}
}

.jump-to, .centered-content .jump-to{
	padding: 0 1px 60px 0;
	margin-top: 30px;
	clear: both;

	p	{
		@include font-size(16);
		@include media-breakpoint-up(sm) {
			@include font-size(14);	
		}
		color: $grey;
		border: none;
		margin-bottom:0;

		.label{
			@include font-size(12);
			text-transform: uppercase;
			font-weight: 700;
			margin-right: 10px;

			.icon{
				@include font-size(10);
			}
		}

		a{
			color: $grey;
			box-shadow: none;
			padding: 1px 1px;

			&:hover, &:focus{
				color:$ink;
			}
		}

		a.active{
			color: $ink;
			font-weight: 400;
		}

	}

}

.entry-content .jump-to{
	@include to-right-edge();

	@include media-breakpoint-up(lg) {
		margin-right: -16%;
	}
	@include media-breakpoint-up(xxl) {
		margin-right: -25.6%;
	}

	p{
		@include media-breakpoint-up(lg) {
			margin-right: 16%;
		}
		@include media-breakpoint-up(xxl) {
			margin-right: 25.6%;
		}
	}

	&.alignwide{
		@include to-container-width();

		p{
			@include media-breakpoint-up(md) {
				margin-left: 25.6%;
			}
		}
	}	
}

.entry-header + .entry-content > .jump-to:first-child{
	padding-top: 0;

	hr{
		margin-top: 0;
	}
}

.text-inset{
	.block-inside.text-inset-inside{
		background: $freshearth;
		padding: 20px 20px 5px;
		@include media-breakpoint-up(md) {
			padding: 30px 30px 10px;
		}
		h5{
			margin-top: 0;
			padding-top: 0;
		}

		li:before{
			color: $earth;
		}

		a{
			@include underline($earth, $earth);
		}
	}
}

.wp-block-gallery{
	li{
		&:before{
			display: none;
		}
	}
}


.wp-block-embed.is-type-video{
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 0;
  height: 0;
  margin-top: 1px;

	iframe {
	  position: absolute;
	  top: 0;
	  left: 0;
	  width: 100%;
	  height: 100%;
	}

	&.alignwide{
		@include media-breakpoint-up(lg) {
			padding-bottom: 84.75%;
		}
		@include media-breakpoint-up(xl) {
			padding-bottom: 78.4%;
		}
		@include media-breakpoint-up(xxl) {
			padding-bottom: 76%;
		}
	}
}

.gallery-embed{
  cursor: pointer;

	.gallery-embed-inside{
		transition: all .4s cubic-bezier(.15,.53,.35,1);
		background: $freshsun;
		
		.gallery-embed-content{
			padding: 20px 0 20px 20px;
			margin-right: -15px;
			position: relative;
			height: 100%;

			h5{
				margin-bottom: 50px;
			}

			p.gallery-embed-link{
				@include font-size(16);
				padding-bottom: 0;
				position: absolute;
				bottom: 20px;
				margin-bottom: 0;

				.icon{
					@include font-size(24);
					position: relative;
					top: 4px;
					color: $sun;
					transition: color .4s cubic-bezier(.15,.53,.35,1);				
				}
				a{
					font-style: italic;
				}
			}
		}
		.gallery-embed-img{
			text-align: right;
			overflow: hidden;

			img{
				transition: transform .4s cubic-bezier(.15,.53,.35,1);				
			}
		}
	}

	&:hover, &:focus{
		.gallery-embed-inside .gallery-embed-content p .icon{
			color: darken($sun, 10%);
		}
		a{
			box-shadow: inset 0 -0.40em $sun;
		}
		img{
			transform: scale(1.04);
		}
	}

	&.alignleft.block-narrow{
		margin-right: 0;
	}
}

.gallery-items{
	display: none;
}


.video-embed{
	position: relative;
	z-index: 2;
 	transition: all .4s cubic-bezier(.15,.53,.35,1);
 	margin-top: 0;
 	margin-bottom: 0;
	@include margin-side-block;

	&.open{
		width: 100%;
		max-width: 100%;
		margin-right: 0;

		iframe, img{
			width: 100%;
		}
	}
}

.play-middle{
	position: relative;
	cursor: pointer;

	.icon{
		position: absolute;
		top: 50%;
		left: 50%;
		margin-left: -17px;
		margin-top: -17px;
		color: $cloud;
		@include font-size(35);
	 	transition: all .4s cubic-bezier(.15,.53,.35,1);
	 	border-radius: 30px;
	}
}

.video-wrapper{
	.play{
		position: relative;
		cursor: pointer;
		display: inline-block;

		.icon{
			position: absolute;
			bottom: 20px;
			left: 20px;
			color: $cloud;
			@include font-size(35);
		 	transition: all .4s cubic-bezier(.15,.53,.35,1);
		 	border-radius: 30px;
		}
		
		&:hover, &:focus{
			.icon{
				color: $ink;
				@include font-size(45);
			}
			.icon-bg:after{
				background: $cloud;
			}
		}
	}
	&.playing{
		.play{
			display: none;
		}
		.iframe-container, .icon-close{
			display: block;
		}
	}		
}

.entry-content .remove-margin-top-bottom{
	margin-top:0;
	margin-bottom: 0;
	padding-top: 0;
	padding-bottom: 0;
}

.iframe-target{
	.iframe-container, .icon-close{
		display: none;
	}
}
.open .iframe-target, .iframe-target.open{
	.iframe-container{
		display: block;
	}	
	.icon-close{
		display: block;
		float: right;
		margin-bottom: 20px;
		cursor: pointer;
	}
}


.block-audio{
	.block-inside{
		background: $freshsun;
		padding-bottom: 1px;
	}
}
.block-audio + .block-audio{
	padding-top: 0;
	margin-top: -30px;
}
.audio-player {
	margin-bottom: 20px;
  
  .audio-content{
  	position: relative;
  	z-index: 2;

  	h5{
  		margin-top: 0;
  	}

  	p{
  		margin-bottom: 1em;
  	}
  }

	.buttons{
		margin-top: -10px;

		a{
			cursor: pointer;
		}
		
	  .play-btn {
	  	cursor: pointer;
	  	display: inline-block;
	  	line-height: 0;
	  	color: $sun;
			transition: color .4s cubic-bezier(.15,.53,.35,1);

	  	.icon-pauze{
	  		display: none;
	  	}
	    &:hover, &:focus{
	    	color: $ink;
	    }
	  }
	}
  
  .seek-obj-container{
		position: relative;
		opacity: 0;
		margin-top: -50px;
		display: block;
		transition: all .4s cubic-bezier(.15,.53,.35,1);
		z-index: 1;

	  progress {
	    width: 100%;
	    cursor: pointer;
	  }

	  progress[value] {
	    -webkit-appearance: none;
	    appearance: none;
	    background-color: white;
	    color: $sun;
	    height: 10px;
	    border: none;
	  }
	  
	  progress::-webkit-progress-bar {
	    background-color: white;
	    border-radius: 2px;
	    color: $sun;
	  }
	  
	  progress::-webkit-progress-value {
	    background-color: $sun;
	  }

	  progress::-moz-progress-bar{
	  	background-color: $sun;
	  }
	  .end-time{
	  	float: right;
	  }
 	}

  &.playing {	
	  .play-btn {
	    .icon-pauze{
	    	display: inline-block;
	    }
	    .icon-play-small{
	    	display: none;
	    }
	  }
	}
	&.playing{
	  .seek-obj-container{
			margin-top: 0;
			opacity: 1;
		}		
	}
}

.panel{
	padding-bottom: 0;

	&.panel-open{
		padding-bottom: 15px;
	}
	&.panel-open.no-title{
		padding-top: 40px;
	}

	> h5{
		margin-bottom: 20px;
		padding-top: 0;

		.icon{
			display: none;
		}
	}
}

.panel.alignwide{
	@include to-container-width();
	background: #fff;
}

.panel-collapsable{
	> h5{
		display: inline-block;
		cursor: pointer;
		position: relative;
		margin-left: 21px;
		
		@include media-breakpoint-up(md) {
			margin-left: 0;
		}

		.underline-me{
			@include underline($sun, $sun);
		}		

		.icon{
			position: absolute;
			display: block;
			left: -33px;
			padding: 10px;
			top: -3px;
			@include font-size(14);
		}

		&:hover, &:focus{
			.icon{
				left: -30px;
			}
		}
	}
	.row-collapsable{
		display: none;
	}

	&.panel-open{
		h5 .icon{
			transform: rotate(90deg);
			left: -30px;
		}
		.row-collapsable{
			display: block;
		}
	}
}

.book-cover{
	max-width: 230px;
	display: block;
	position: relative;
	overflow: hidden;
	margin-bottom: 17px;
}

.panel-books, .page-template-default .entry-content .panel-books{
	.index-item{
		padding-top: 0;
		padding-bottom: 0;
	}
	.link-zoom{
		margin-bottom: 15px;

		.icon-bg:after{
			background: $cloud;
		}
		&:hover, &:focus{
			.icon-bg:after{
				background: $ink;
			}
		}

	}
	p{
		@include font-size(15);
	}
	.index-book{
		h5{
			padding-top: 0;
		}
	}

	.single-book{
		.book-cover{
			float: left;
			max-width: 45%;
			margin-right: 5%;
		}
	}
}

.link-zoom{
	display: block;
	position: relative;
	overflow: hidden;

	img{
		transition: all .4s cubic-bezier(.15,.53,.35,1);
	}

	.icon{
		position: absolute;
		bottom: 10px;
		left: 10px;
		z-index: 2;

		&:after{
			background: $cloud;
		}
	}

	h5 span{
		transition: all .4s cubic-bezier(.15,.53,.35,1);
	}

	&:hover, &:focus{
		text-decoration: none;
		img{
			transform: scale(1.04);			
		}
		.icon{
			color: $cloud;
			@include font-size(25);

		}
		.icon:after{
			background: $ink;
		}
		h5 span{
			box-shadow: inset 0 -0.40em $sun;
			text-decoration: none;
		}
	}
}

.link-zoom-cursor{
	cursor: url(assets/images/zoom.svg) 14 14, auto;
}

.panel-videos .iframe-target.open{
	margin-bottom: 30px;
}

.index-item.index-page{
	padding-top: 0;
	padding-bottom: 0;

	h5 a{
		@include underline($cloud, $sun);
	}
	img{
		margin-bottom: 20px;
	}
}

.panel.panel-open.panel-pages{
	padding-bottom: 0;
}

.panel-quotes{
	.index-quote{
		padding-top: 0;

		blockquote{
			padding-bottom: 10px;

			p{
				padding-left: 0;	
			}
			cite{
				padding-left: 0;
			}
		}
	}
}

.media-coverage{
	background: $cloud;

	h4{
		margin-bottom: 10px;
		border: none;
	}
	ul{
		padding-bottom: 0;
		li{
			margin-bottom: 1.2em;
			@include font-size(16);
			line-height: 180%;

			a{
				@include underline($cloud, $sun);

				img{
					margin-bottom: 10px;
				}

				.icon-external-link{
					color: $grey;
					margin-left: 5px;
				}
				.link-text{
					transition: all .4s cubic-bezier(.15,.53,.35,1);
				}
				.play-middle{
					display: block;
				}
			}
			i{
				color: $grey;
				@include font-size(14);
				display: inline-block;
			}
			b{
				font-weight: 700;
			}
		}		
	}
	ul.highlights{
		li.has-image{
			padding-left: 66px;
			display: inline-block;
			a{
				img{
					float: left;
					max-width: 50px;
					margin: 5px 0 0 -66px;
				}
			}
		}
	}
}


.menu-block-container{
	margin: 40px 0;
	min-height: 55px;

	.menu-block{
		text-align: center;
		margin: 0;
		padding: 0;


		ul{
			margin-bottom: 0;
		}
		#block-menu{

			li{
				display: inline-block;
				padding: 0 5px;
				margin-left: 0;
				margin-bottom: 0;
				@include media-breakpoint-up(md) {
					padding: 0 10px;
				}

				a{
					color: $grey;
					@include underline($cloud, $sun);
				}
			}

			.sub-menu{
				padding: 10px 0 0;
				border-top: 1px solid $freshink;
				margin: 0;
				@include media-breakpoint-up(lg) {
					padding-left: 60px;
					padding-right: 60px;
				}
			}
			> li {
				border-bottom: 1px solid transparent;
				padding-bottom: 10px;
				> a{
					display: none;
					color: $ink;
					font-weight: bold;
				}
			}
		}
		&.fix-menu-top{
			transition: background .4s cubic-bezier(.15,.53,.35,1);
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			background: $cloud;
			z-index: 99;
			border-bottom: 1px solid $freshink;

			#block-menu > li a{
				color: $darkink;
			}
		}
	}
}



.wp-block-cover{

	.wp-block-cover__inner-container{
		@include make-container();
    @include make-container-max-widths();		
	}

	&.is-style-with-background{
		padding-bottom: 0;

		.wp-block-cover__inner-container{
			background: $freshsun;
			color: $ink;
			padding: 30px;
			max-width: 550px;
			margin: 700px 15px 15px 15px;
			width: 100%;

			@include media-breakpoint-up(lg) {
				margin: 140px -40% 140px 0;
			}

			@include media-breakpoint-up(xl) {
				margin-right: -50vw;
			}

			h2{
				text-align: left;	
				padding: 0;
			}
			h2, h4, p{
				color: $ink;
			}
		}
	}
}


// temp

.page-homepage{
	@include media-breakpoint-down(md) {	
		.site-branding{
			left: 15px;
		}
	}

	@include media-breakpoint-down(sm) {	
		.logo-white{
			display: block;
		}
		.logo-black{
			display: none;
		}
	}

	.site-branding{
		position: absolute;

		@include media-breakpoint-up(md) {	
			height: 100vh;
			min-height: 600px;
			padding-top: 0;
			top: 0;
			display: flex;
			pointer-events: none;

			.site-title{
				margin: auto;
				padding-bottom: 300px;

				@include media-breakpoint-up(lg) {
					padding-bottom: 260px;
				}

				a{
					pointer-events: all;
				}
			}
		}
	}
	.wpml-ls-item.menu-item-has-children{
		a{
			color: $cloud;

			&:hover, &:focus{
				color: $ink;
				background: rgba(255, 255, 255, 0.8);
			}
		}
		&.sub-menu-open > a{
			color: $ink;
			background: rgba(255, 255, 255, 0.8);
		}
	}
	.toggle-search path{
		fill: $cloud;
		transition: all .4s cubic-bezier(.15,.53,.35,1);		
	}
	&.search-open .toggle-search path{
		fill: $ink;
	}
}

.page-template-page_full-width .wp-block-group.alignfull.home-landing-top{
	padding: 0;
	position: relative;
	margin-top: -120px;
	top:0;

	@include media-breakpoint-up(md) {	
		margin-top: -144px;
	}
	@include media-breakpoint-up(xxl) {	
		margin-top: -164px;
	}

	@include media-breakpoint-down(md) {
		.wp-block-group__inner-container{
			max-width: 100%;
		}
	}
	@include media-breakpoint-down(sm) {
		.wp-block-group__inner-container{
			padding-left: 0;
			padding-right: 0;
		}
		.wp-block-columns{
			.wp-block-column:first-child{
				order: 2;
				background: $freshsun;
				padding: 20px;
				margin: -120px 15px 0;
				z-index: 2;
			}
			.wp-block-column:last-child{
				order: 1;
			}
			.slick-dots, .slick-prev, .slick-next{
				margin-bottom: 100px;
			}
		} 
	}
	@include media-breakpoint-up(md) {	
		min-height: 100vh;
		overflow: hidden;

		.wp-block-columns{
			min-height: 100vh;
			flex-direction: row;
		}

		.wp-block-column:first-child{
			padding-right: 50px;
			padding-top: 150px;
			margin: auto;
			> *{
				max-width: 570px;
			}
		}
	}

	.slider{
		margin-bottom: 0;

		.slider-image{
			padding-bottom: 140%;
		}

		&:before{
			content: '';
			width: 100%;
			height: 150px;
			position: absolute;
			top: 0;
			left: 0;
			background: linear-gradient(180deg, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%);
			z-index: 2;
		}

		&:after{
			content: '';
			width: 100%;
			height: 150px;
			position: absolute;
			bottom: 0;
			left: 0;
			background: linear-gradient(0deg, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%);
		}

		@include media-breakpoint-up(md) {	
			position: absolute;
			top: 0;
			right: 0;
			width: 50vw;
			height: 100%;
			margin-bottom: 0;
		
			.slick-list, .slick-track, .slick-slide, .slick-slide > div, .slider-image{
				height: 100%;
			}
			.slider-image{
				padding: 0;
				min-height: 100vh;
				display: block;
			}
		}

		.slick-prev, .slick-next{
			bottom: 15px;
			z-index: 3;

			&:before{
				color: $cloud;
				text-shadow: 0 0 4px rgba($ink, 1);
			}
		}

		.slick-next{
			right: 5px;
			@include media-breakpoint-up(md) {	
				right: 30px;
			}
		}
		.slick-prev{
			right: 55px;
			@include media-breakpoint-up(md) {	
				right: 75px;
			}
		}
		.slick-dots{
			z-index: 2;
			bottom: 30px;
			left: 20px;
			@include media-breakpoint-up(md) {	
				left: 45px;
				bottom: -2px;
			}
			li{ 
				button::before{
					color: $cloud;
					opacity: 0.6;
					text-shadow: 0 0 4px rgba($ink, 1);
				}
				&.slick-active button::before{
					opacity: 1;
				}
			}
		}
	}
}

.entry-content .wp-block-cover.alignfull:first-child{
	margin-top: -163px;
	margin-bottom: 0;
	padding-top: 355px;
	padding-bottom: 50px;

	@include media-breakpoint-up(md) {	
		margin-top: -355px;
		padding-top: 355px;
		padding-bottom: 200px;
	}

	.wp-block-pullquote blockquote{
		padding-left: 0;
		margin-left: 0;

		p{
			padding-left: 0;
			@include font-size(48);
			line-height: 145%;
		}
	}
}

@media (max-width:600px){
	.wp-block-media-text.is-stacked-on-mobile.has-media-on-the-right.tnh-landing-books{
		grid-template-areas: "media-text-media" "media-text-content";

		figure{
			max-width: 300px;
			display: block;
			margin: 0 auto;
		}
	}
}


.small.post-list{
	li{
		.entry-meta{
			@include font-size(13);
			padding-bottom: 0;
		}
	}
}

.post-list{
	article.index-post:last-child{
		padding-bottom: 20px;
	}
}

hr.wp-block-separator{
	margin: 80px 0;
}



.wp-block-columns.align-items-center{
	align-items: center;
}

.wp-block-columns.has-md-full-width{
	@include media-breakpoint-down(lg) {
		.wp-block-column{
			flex-basis: 100%!important;
		}
	}
}

.wp-block-media-text, .page-template-page_full-width .entry-content .alignwide.wp-block-media-text{
	.wp-block-media-text__content{
		padding: 20px 0 0;

		@media (min-width: 600px){
			padding: 0 8%;
		}
		.wp-block-group{
			columns: 2 250px;
			column-gap: 2em;
		}
	}

	&.is-image-fill .wp-block-media-text__content figure{
		min-height: unset;
		height: auto;
	}
	&.has-background{
		margin-left: -15px;
		margin-right: -15px;
		max-width: none;

		@include media-breakpoint-up(sm) {
			margin: 70px auto;
		}
	}
}

.page-template-page_full-width .wp-block-media-text{

	@include media-breakpoint-up(sm) {
		&.has-fresh-tree-background-color{
			margin-left: -30px;
		}
	}
}

.retreats-block, .page-template-page_full-width .entry-content .retreats-block.has-fresh-earth-background-color{

	@include media-breakpoint-up(lg) {
		max-width: 1112px;
		margin-top: 180px;
		margin-bottom: 100px;

		.wp-block-media-text__media{
			position: relative;
			height: 100%;
			margin-top: -50%;
			img{
				position: absolute;
				right: 0;
				max-width: 430px;
			}
		}
	}
	@media (min-width:600px){
		.wp-block-media-text__media{
			margin-right: 15px;
		}
		.wp-block-media-text__content{
			padding-left: 15px;
		}
	}
}


.page-template-page_full-width .wp-block-group{
	&.has-background.alignfull{
		padding: 50px 0 40px;
		@include media-breakpoint-up(md) {
			padding: 70px 0 60px;
		}
		@include media-breakpoint-up(lg) {
			padding: 100px 0 80px;
		}
	}
	.wp-block-columns{
		margin-bottom: 0;
	}
}

.page-template-page_full-width, .page-template-default, .post {
	.wp-block-group.alignfull{
		margin-top: 40px;
		margin-bottom: 40px;
		@include media-breakpoint-up(md) {
			margin-top: 80px;
			margin-bottom: 80px;
		}

		.wp-block-group__inner-container{
			@include make-container();
      @include make-container-max-widths();
		}
	}
}


.page-template-default, .post {
	.wp-block-group.alignfull{
		left: 50%;
		margin-left: -50vw;
		margin-right: -50vw;
		max-width: 100vw;
		position: relative;
		right: calc(50% + 15px);
		width: 100vw;
		border-right: 0;
	}
}

.home-what-who-block, .page-template-page_full-width .entry-content .wp-block-group.home-what-who-block{
	padding-bottom: 20px;
	padding-top: 50px;

	@include media-breakpoint-down(sm) {
		.has-text-align-right{
			text-align: left;
		}
		.wp-block-column:last-child{
			flex-basis: 100%;
		}
	}

	@include media-breakpoint-up(xl) {
		margin-top: 200px;
		margin-bottom: 200px;

		img{
			margin-top: -37%;
			margin-bottom: -50%;
		}
	}
}

.page-template-default, .post{
	.wp-block-group{
		&.has-background{
			padding: 20px 20px 0 20px;
			display: flex;
		}
	}
}

.latest-youtube{
	margin-top: 10px;
}


.has-fresh-sun-background-color{
	background-color: $freshsun;
}
.has-fresh-earth-background-color{
	background-color: $freshearth;
}
.has-grey-color{
	color: $grey;
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Slick Slider
.slider{

	.slick-slide, .slick-slide > div{
		line-height: 0;
	}
	.slider-image{
		padding-bottom: 60%;
		display: none;
		position: relative;

		img{
			position: absolute;
			top: 0;
			left: 0;
			object-fit: cover;
			object-position: center center;
			width: 100%;
			height: 100%;
		}
	}
	.slider-image:first-child{
		display: block;
	}
	&.square{
		.slider-image{
			padding-bottom: 100%;
		}
	}
	&.portrait{
		.slider-image{
			padding-bottom: 140%;
		}
	}
}
.entry-content .slider{
	margin-bottom: 60px;
	padding-bottom: 0;
}

ul.slick-dots, .page-template-default .entry-content ul.slick-dots{
	padding: 0;
	text-align: left;
	margin-left: -8px;
	border: none;
	width: auto;
	margin-right: 100px;

	li{
		margin: 0;
		@include media-breakpoint-up(sm) {
			margin: 0 2px;
		}

		&:before{
			display: none;
		}
		button{
			padding: 10px;

			&:before{
				font-size: 20px;
			}
		}
	}
}

.slick-prev, .slick-next{
	bottom: -40px;
	top: unset;
	z-index: 2;
	transition: all .4s cubic-bezier(.15,.53,.35,1);		
	height: auto;
	width: auto;
	padding: 15px;
	transform: none;

	&.slick-disabled{
		&:before{
			opacity: 0.6;
		}
	}

	&:before{
		color: $ink;
		font-size: 15px;
		opacity: 1;
	}
}

.slick-next{
	right: -15px;

	&:hover{
		margin-right: -4px;
	}
}
.slick-prev{
	right: 25px;
	left: unset;

	&:hover{
		margin-right: 4px;
	}
}


////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Verse Block


pre, pre.wp-block-verse, .wp-block-verse pre{
	background: $freshsun;
	font-family: $font-pre;
	@include font-size(22);
	white-space: pre-wrap;
	line-height: $font-pre-lineheight;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: .8em;
	@include media-breakpoint-up(lg) {
		padding: 1.6em;
	}

	a{
		text-decoration: underline;
	}
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Download Block

.wp-block-file{
	a:first-child{
		font-style: italic;
		color: $grey;
		text-decoration: underline;
	}
	a.wp-block-file__button{
		background: $earth;
		border-radius: 0.3rem;
		position: relative;
		top: -3px;
		font-weight: 400;
		line-height: 160%;
	}
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Button Block

.wp-block-button{
	margin-bottom: 1.5em;

	.wp-block-button__link{
		background: $sun;
		color: $ink;
		border-radius: .3rem;
		font-weight: 700;
		@include font-size(14);
		padding: 0.5rem 1.1rem 0.4em;
		transition: all .4s cubic-bezier(.15,.53,.35,1);
		line-height: 160%;

		&:hover, &:focus{
			text-decoration: none;
			background: darken($sun, 10);
		}
	}

	&.is-style-large{
		.wp-block-button__link{
			font-size: .875rem;
			padding: 1.04rem 3rem .95rem;
		}
	}
}


////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Important Update

.important-update, .entry-content .alignfull.important-update{
	background: $freshearth;
	padding: 0;

	p{
		margin: 0 auto;
		max-width: 900px;
		font-weight: 400;

		a{
			color: $earth;
			@include underline($freshearth, darken($freshearth, 10));
		}
	}
}
