//////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Buttons

button.unbutton{
	background: none;
	border:none;
	padding: .6em 1em .4em;
	@include font-size(15);

	&:active,
	&:focus {
		outline: 0;
	}

}
.btn{
	font-weight: 700;
	@include font-size(14);
	padding: 0.5rem 1.1rem 0.4em;
}
.btn-lg{
	@include font-size(14);
	padding: 1.14rem 1rem .85rem;
}
.btn-light:hover{
	background-color: darken($freshsun, 6);
	border-color: darken($freshsun, 6);
}
.btn-light:hover{
	background-color: darken($freshsun, 6);
	border-color: darken($freshsun, 6);
}
.btn-light:focus, .btn-light.focus{
	box-shadow: 0 0 0 0.2rem rgba(241, 190, 2, 0.5);
}
.btn-light:not(:disabled):not(.disabled):active, .btn-light:not(:disabled):not(.disabled).active, .show > .btn-light.dropdown-toggle{
	background: lighten($sun, 20);
	border-color: lighten($sun, 18);
}

.btn-light.btn-super-light{
	background-color: rgba(255,255,255,0.25);
	border-color: rgba(255,255,255,0.25);
	font-weight: 300;
}

//////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Fields

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	color: $color__text-input;
	border: none;
	border-radius: 0px;
	background-color: $freshtree;
	font-size: 0.875rem;
	padding: 1rem 1rem;
	max-width: 100%;

	&:focus {
		color: $color__text-input-focus;
		box-shadow: 0 0 0 0.2rem $freshtree;
	}

	&.form-control-lg{
		padding: 1.7rem 1rem;
	}

	&.wpcf7-not-valid{
		background: $freshearth;
	}
}

input[type="submit"]{
	font-size: 0.875rem;
  padding: 1.14rem 3rem .85rem;
  background: $sun;
  color: $ink;
  border: 0;
  font-weight: bold;
  border-radius: 0.3rem;
	transition: all .4s cubic-bezier(.15,.53,.35,1);

  &:hover{
  	background: darken($sun, 10);
  }
}

form label{
	@include font-size(13);
	margin-bottom: 0;
	font-weight: 400;
}


.wpcf7{
	input[type="text"],
	input[type="email"],
	input[type="url"],
	input[type="password"],
	input[type="search"],
	input[type="number"],
	input[type="tel"],
	input[type="range"],
	input[type="date"],
	input[type="month"],
	input[type="week"],
	input[type="time"],
	input[type="datetime"],
	input[type="datetime-local"],
	input[type="color"],
	textarea {
		width: 100%;
	}
}
.required-star{
	color: $earth;
}

div.wpcf7-validation-errors, div.wpcf7-acceptance-missing{
	border: none;
	padding: 0;
	margin: 0;
	font-style: italic;
}


.select2-container--default .select2-selection--single{
	border-radius: 0px;
	background-color: $freshtree;
	border-color: $freshtree;	
	@include font-size(14);
	height: auto;
	padding: .7rem 1rem .8rem;
}
.select2-container .select2-selection--single .select2-selection__rendered{
	color: $color__text-input;
	padding: 0;
}
.select2-container--default .select2-selection--single .select2-selection__arrow{
	height: 100%;
	width: 40px;
}
.select2-container--default.select2-container--open.select2-container--below .select2-selection--single, .select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple, .select2-container--default.select2-container--open.select2-container--above .select2-selection--single, .select2-container--default.select2-container--open.select2-container--above .select2-selection--multiple, .select2-dropdown{
	border-color: $freshtree;
	background: #fff;
	box-shadow: 0 0 0 0.2rem $freshtree;
}
.select2-container--default.select2-container--open.select2-container--below .select2-selection--single, .select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple{
	border-bottom: 1px solid #fff;
}
.select2-container--default.select2-container--open.select2-container--above .select2-selection--single, .select2-container--default.select2-container--open.select2-container--above .select2-selection--multiple{
	border-top: 1px solid #fff;
}
.select2-container--open .select2-dropdown--below{
	border-color: $freshtree;
}
.select2-container--default .select2-search--dropdown .select2-search__field{
	background: #fff;
}
.select2-container--focus .select2-selection--single{
	background: #fff;
	box-shadow: 0 0 0 0.2rem $freshtree;
	outline: 0;
	border-color: #fff;
}

.select-inline{
	display: inline-block;

	.select2{
		padding-right: 20px;
		margin-bottom: 5px;
	}

	.select2-container .select2-selection--single{
		background: none;
		border: none;
		padding-top: 0;
		padding-bottom: 0;
		padding-left: 0;

		.select2-selection__rendered{
			color: $ink;
			text-decoration: underline;
			font-style: italic;
			@include font-size(16);
		}
		.select2-selection__arrow{
			font-size: 8px;
			position: absolute;
			right: -3px;
			top: 2px;
			padding-left: 20px;

		  b:before {
		    content: $icon-caret-down; 
		  }
		}
	}
	.select2-container--focus .select2-selection--single{
		box-shadow: none;
	}
	.select2-container--open .select2-selection--single .select2-selection__arrow b:before{
		transform: rotate(180deg);
		display: inline-block;
	}
}

.select2-container--select2-container--inline{

	.select2-dropdown{
		min-width: 200px;
		margin-left: -10px;
	}
	ul{
		padding: 10px 0;

		li{
			font-weight: 300;
			padding: 5px 15px;
			@include font-size(15);
			margin-left: 0;

			&:before{
				display: none;
			}

			&:hover{
				text-decoration: underline;
			}
		}
	}
	&.select2-container--open .select2-dropdown--below{
		border: none;
	}
}

.text-with-select{
	p{
		display: inline;
	}
}

textarea {
	width: 100%;
}

.form-control-lg{
	@include font-size(14);
	padding: 1.7rem 1rem;
}

.form-control, .select2{
	margin-bottom: 10px;
}

.invalid-feedback.filled{
	margin: 0 0 20px;
}

ul.select2-results__options li.select2-results__option{
	margin: 0;

	&:before{
		display: none;
	}
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Media


.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
	max-width: 100%;
}

/* Make sure logo link wraps around logo image. */
.custom-logo-link {
	display: inline-block;
}


////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Gallery

.block.gallery {
	margin-bottom: 1.5em;
}

.gallery-item {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 100%;

	// Loops to enumerate the classes for gallery columns.
	@for $i from 2 through 9 {
		.gallery-columns-#{$i} & {
			max-width: map-get( $columns, $i );
		}
	}
}

.gallery-caption {
	display: block;
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Captions

.wp-caption {
	margin-bottom: 1.5em;
	max-width: 100%;

	img[class*="wp-image-"] {
		@include center-block;
	}

	.wp-caption-text {
		margin: 0.8075em 0;
	}
}

.wp-caption-text {
	text-align: center;
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Comments

.comment-content a {
	word-wrap: break-word;
}


////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Embed

.wp-has-aspect-ratio .wp-block-embed__wrapper{
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  overflow: hidden;

  &::before {
    display: block;
    content: "";
  }

  iframe,
  embed,
  object,
  video {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
  }
}

@each $embed-responsive-aspect-ratio in $embed-responsive-aspect-ratios {
  $embed-responsive-aspect-ratio-x: nth($embed-responsive-aspect-ratio, 1);
  $embed-responsive-aspect-ratio-y: nth($embed-responsive-aspect-ratio, 2);

  .wp-embed-aspect-#{$embed-responsive-aspect-ratio-x}-#{$embed-responsive-aspect-ratio-y} .wp-block-embed__wrapper {
    &::before {
      padding-top: percentage($embed-responsive-aspect-ratio-y / $embed-responsive-aspect-ratio-x);
    }
  }
}


