
//////////////////////////////////////////////////////////////////////////////////////////////////
// Mixins

// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

// Underline
@mixin underline($color, $color-hover) {
	box-shadow: inset 0 -0.15em $color;
	transition: all .4s cubic-bezier(.15,.53,.35,1);

	&:hover{
		box-shadow: inset 0 -0.40em $color-hover;
		text-decoration: none;
	}
}

@mixin reset-styling{
	max-width: 100%;
	border: none;
	flex: auto;
	padding-right: 0;
}

@mixin margin-side-block{
	background: #fff;
  padding-top: 1.5em;
  padding-bottom: 1.5em;

	&.align-right{
		@include media-breakpoint-up(md) {
  		margin-top: -25px;
		  padding-top: 30px;
		  padding-bottom: 30px;
  	}
	}	
}

// Clear after (not all clearfix need this also)
@mixin clearfix-after() {
	clear: both;
}

// Column width with margin
@mixin column-width($numberColumns: 3) {
	width: map-get( $columns, $numberColumns ) - ( ( $columns__margin * ( $numberColumns - 1 ) ) / $numberColumns );
}
